$p-sm-height: 35px;
$p-md-height: 45px;
$p-lg-height: 62px;
$p-xl-height: 75px;
$p-xxl-height: 90px;

$p-sm-width: 33px;
$p-md-width: 40px;
$p-lg-width: 53px;
$p-xl-width: 67px;
$p-xxl-width: 79px;

/* Breakpoints */
$md-width: 768px;
$lg-width: 1024px;
$xl-width: 1280px;
$xxl-width: 1536px;
