:root {
    --p-sm-height: 35px;
    --p-md-height: 45px;
    --p-lg-height: 62px;
    --p-xl-height: 75px;
    --p-xxl-height: 90px;

    --p-sm-width: 33px;
    --p-md-width: 40px;
    --p-lg-width: 53px;
    --p-xl-width: 67px;
    --p-xxl-width: 79px;
}