/* Overlay that covers the entire screen */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal content styling */
.modal-content {
  background: white;
  border-radius: 8px;
  width: 80vw;
  max-width: 100%;
  text-align: left;
}

/* .image-col {
  max-width: 240px;
} */